.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.swiper-reviews {
  height: 50%;
}

.card-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-user {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.text-slide {
  padding: 0 1rem;
}

.text-slide h5 {
  font-size: 1.1rem;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 0.5rem;
}

.star {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.star i {
  color: var(--color-tertiary);
}

.text-slide p {
  font-size: 0.9rem;
  font-weight: var(--font-weight-light);
}

@media (max-width: 1000px) {
  .swiper-reviews {
    height: 70%;
  }
}
